@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --radius: 0.9rem;
}
:root {
  /* LIGHT */

  --background: #ffffff;
  --foreground: #111827;

  --card: #ffffff;
  --card-foreground: #111827;

  --popover: #ffffff;
  --popover-foreground: #111827;

  --primary: #6366f1;
  --primary-foreground: #ffffff;

  --secondary: #e9edff;
  --secondary-foreground: #111827;

  --muted: #eef2ff;
  --muted-foreground: #6b7280;

  --accent: #020627;
  --accent-foreground: #111827;

  --border: #dbe3ff;
  --ring: #6366f1;
}

.dark {
  /* Aletheia Dark */

  --background: #020627;
  --foreground: #ffffff;

  --card: #0a1035;
  --card-foreground: #ffffff;

  --popover: #0a1035;
  --popover-foreground: #ffffff;

  --primary: #8b5cf6;
  --primary-foreground: #ffffff;

  --secondary: #11193f;
  --secondary-foreground: #ffffff;

  --muted: #17204d;
  --muted-foreground: #94a3b8;

  --accent: #0a1042;
  --accent-foreground: #fff;

  --border: rgba(255,255,255,0.08);
  --ring: #8b5cf6;
}


html,
body {
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}
